<div class="login-area">
  <header style="padding: 0; margin-bottom: 38px">
    <h2 style="font-size: 26px; font-weight: bold">Scrabble</h2>
  </header>

  <form (ngSubmit)="onSubmit($event, loginForm)" #loginForm="ngForm">
    <div class="form-control">
      <div class="form-control-name">Hostname</div>
      <input type="text" value="localhost" #lh>
    </div>
    <div class="form-control">
      <div class="form-control-name">Port</div>
      <input type="text" #lp value="9999">
    </div>
    <div class="form-control" style="margin-top: 32px">
      <div class="form-control-name">Username</div>
      <input type="text" #username [placeholder]="randomName" autofocus>
    </div>
    <div class="form-control" style="margin-top: 68px">
      <button type="submit">Login</button>
    </div>
  </form>

</div>
