<div class="login-area">
  <header style="padding: 0; margin-bottom: 38px">
    <h2 style="font-size: 26px; font-weight: bold">Scrabble</h2>
  </header>

  <form (ngSubmit)="onSubmit($event, loginForm)" #loginForm="ngForm">
    <!-- address -->
    <div>
      <div class="login-form-tabs">
        <span class="login-form-tab"
              [class.login-form-tab-active]="showRemoteConfig==false"
              (mousedown)="showRemoteConfig=false">Local</span>
        <span class="login-form-tabs-separator"> | </span>
        <span class="login-form-tab"
              [class.login-form-tab-active]="showRemoteConfig==true"
              (mousedown)="showRemoteConfig=true">Remote</span>
      </div>
      <!-- local address -->
      <div [hidden]="showRemoteConfig">
        <div class="form-control">
          <div class="form-control-name">Local Hostname</div>
          <input name="localHost" type="text" #lh [ngModel]="'localhost'">
        </div>
        <div class="form-control">
          <div class="form-control-name">Local Port</div>
          <input name="localPort" type="text" #lp [ngModel]="9900">
        </div>
      </div>
      <!-- remote address -->
      <div [hidden]="!showRemoteConfig">
        <div class="form-control">
          <div class="form-control-name">Remote Hostname</div>
          <input name="remoteHost" type="text" #rh [ngModel]="'localhost'">
        </div>
        <div class="form-control">
          <div class="form-control-name">Remote Port</div>
          <input name="remotePort" type="text" #rp [ngModel]="9999">
        </div>
      </div>
    </div>

    <!-- username -->
    <div class="form-control" style="margin-top: 32px">
      <div class="form-control-name">Username</div>
      <input name="username" type="text" #username [placeholder]="randomName" autofocus>
    </div>
    <div class="form-control" style="margin-top: 68px">
      <button type="submit">Login</button>
    </div>
  </form>

</div>
