<section class="container" *ngIf="rs.gameBoard">
  <section class="board">
    <div class="board-row" *ngFor="let row of rs.gameBoard.rows; let y=index">
      <div class="board-slot"
           *ngFor="let slot of row; let x=index"
           [class.board-slot-focus]="selectedSlot===slot"
           (mousedown)="focus($event, x, y)">
        {{slot.letter}}
      </div>
    </div>
  </section>

  <!-- right side -->
  <aside class="sidebar">
    <section class="aside-block" style="position: fixed;top: 100vh;left: 100vw;">
      <input type="text" autofocus (input)="onKeyDown(input)" #input (blur)="$event.preventDefault()">
    </section>
    <!-- vote board-->
    <section class="aside-block aside-center-block vote-block" [style.height.px]="128">
      <div *ngIf="rs.game.vote && rs.game.vote.active; then inVoteStage else notInVoteStage"></div>
      <!-- vote active -->
      <ng-template #inVoteStage>
        <!-- vote for others-->
        <ng-container *ngIf="rs.game.activeUser != rs.username">
          <div>Choose the correct words:</div>
          <div>
          <span *ngIf="rs.game.vote.wordA; let w"
                (mousedown)="voteSelection.toggle(w)"
                class="vote-block-word"
                [class.vote-block-word-active]="voteSelection.isActive(w)">{{w}}</span>
            <ng-container *ngIf="rs.game.vote.wordB!=rs.game.vote.wordA; ">
              <ng-container *ngIf="rs.game.vote.wordB; let w">
                <span>, </span>
                <span (mousedown)="voteSelection.toggle(w)"
                      class="vote-block-word"
                      [class.vote-block-word-active]="voteSelection.isActive(w)">{{w}}</span>
              </ng-container>
            </ng-container>
          </div>
          <div style="display: flex; flex-flow: row nowrap; margin-top: 12px; margin-bottom: -8px">
            <div style="cursor: pointer;" (click)="rs.gameVote(voteSelection.list)">Submit</div>
          </div>
        </ng-container>
        <!-- vote for current user -->
        <div style="color: #666666;" *ngIf="rs.game.activeUser == rs.username">
          Waiting others to vote...
        </div>
      </ng-template>
      <!-- vote inactive -->
      <ng-template #notInVoteStage>
        <div style="color: #666666;">
          No vote activity now.
        </div>
      </ng-template>
    </section>
    <!-- scoreboard-->
    <section class="aside-block">
      <table class="game-user-list">
        <thead>
        <tr>
          <!--<th></th>-->
          <th colspan="3" class="game-user-list-heading">
            Scoreboard
            <!--<div style="width: 100%; height: 8px; border-bottom: 1px solid #666666;"></div>-->
          </th>
        </tr>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Score</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let u of rs.game.users">
          <td style="width: 22px;"><span *ngIf="rs.game.activeUser == u.name">→</span></td>
          <td>{{u.name}}</td>
          <td>{{u.score}}</td>
        </tr>
        </tbody>
      </table>
    </section>

    <section>
      <button (click)="submit()">Submit</button>
      <button (click)="pass()">Pass</button>
    </section>

  </aside>
</section>

