.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .75);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.modal {
  margin-top: -8px;
  height: 78px;
  width: 225px;
  background-color: white;
  border: 1px solid #999999;
  box-shadow: 0 0 32px 2px #eeeeee;
  color: #333333;
  font-size: 13px;
  line-height: 78px;
  text-align: center;
}
