<div class="container">
  <section class="lobby">

    <!-- lobby -->
    <section class="lobby-home">
      <div class="create-room"
           (click)="rs.createRoom()">
        Create a Room
      </div>
    </section>

    <!-- room -->
    <section class="lobby-room" *ngIf="rs.inRoom">
      <header><span class="lobby-room-id-left-text">Room:</span> {{rs.room.id}}</header>
      <section class="lobby-room-main">
        <section class="lobby-room-users">
          <div class="lobby-room-user"
               *ngFor="let u of rs.room.users">{{u}}
          </div>
        </section>
      </section>
      <section class="lobby-room-actions">
        <button class="lobby-room-action lobby-room-action-x" (click)="rs.leaveRoom()">X</button>
        <button class="lobby-room-action" (click)="rs.startGame()" [disabled]="rs.room.users.length<2">Start Game
        </button>
      </section>
    </section>

  </section>
  <!-- aside: user list -->
  <aside class="user-list-aside" oncontextmenu="return false;">
    <header class="user-list-aside-header">
      <div class="user-list-aside-title">{{currentUser.name}}</div>
      <!-- invitation panel -->
      <section class="aside-inv" *ngIf="rs.invitation; let inv">
        <div>
          <div class="aside-inv-header">{{inv.invitor}}</div>
          <div>Join a game?</div>
        </div>
        <div class="aside-inv-actions">
          <div class="aside-inv-action" (click)="rs.acceptRoomInvitation(inv.roomId)">OK</div>
          <div class="aside-inv-action" (click)="rs.refuseRoomInvitation(inv.roomId)">X</div>
        </div>
      </section>
    </header>

    <!-- user list-->
    <div class="user-list">
      <div class="user-item" *ngFor="let u of otherUsers"
           [class.user-item-active]="operatingUser==u">
        <div class="user-item-text" (mousedown)="operatingUser=operatingUser==u?null:u" (contextmenu)="operatingUser=u">
          <span>{{u.name}}</span>
          <span class="user-item-text-status" *ngIf="u.inRoom&&!u.inGame">in room</span>
          <span class="user-item-text-status" *ngIf="u.inGame">Playing</span>
        </div>
        <div class="user-item-actions" *ngIf="operatingUser==u&&u.name!=rs.username&&currentUser.inRoom">
          <span class="user-item-action" (click)="invite(u.name)">Invite</span>
        </div>
      </div>
    </div>
  </aside>
</div>
