section.board {
  margin: 48px;
}

.board-row {
  display: flex;
  flex-flow: row nowrap;
}

.board-row:first-child .board-slot {
  border-top-width: 1px;
}

.board-slot {
  height: 24px;
  width: 24px;
  display: inline-block;
  background-color: #fcfaf3;
  border: 1px solid rgba(11, 16, 19, 0.68);
  border-top-width: 0;
  border-right-width: 0;
  text-align: center;
  line-height: 24px;
}

.board-slot:last-child {
  border-right-width: 1px;
}

.board-slot-focus {
  background-color: rgb(189, 192, 186);
}

/*section.available-tiles {*/
/*margin: 48px 48px 48px 0;*/
/*}*/

/*.available-tiles header {*/
/*font-size: 18px;*/
/*margin-bottom: 18px;*/
/*}*/

/*.tiles {*/
/*display: flex;*/
/*flex-flow: row wrap;*/
/*height: 400px;*/
/*width: 400px;*/
/*overflow-y: scroll;*/
/*overflow-x: hidden;*/
/*}*/

/*.tile {*/
/*height: 38px;*/
/*width: 38px;*/
/*text-align: center;*/
/*line-height: 38px;*/
/*background-color: antiquewhite;*/
/*}*/

.action-list {
  margin-top: 28px;
}

.action-button {
  padding: 12px 19px;
  font-size: 19px;
  border: 1px solid palevioletred;
  border-radius: 4px;
  cursor: pointer;
}

.action-button:hover {
  background-color: antiquewhite;
}
